html, body {
    // http://www.noupe.com/design/80-stunning-background-patterns-for-your-websites.html
    // background-image: url('../images/bg4.jpg');
    // background-image: url('../images/bg1.jpg');
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper {
    // @include background-image(linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)));
    // width: 100%;
    // height: 100%;
}

a {
    color: red;
}
.image-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.navbar-brand img {
    height: 100%;
    margin-top: -5px;
}

$padding: 25px;
$score_dim: 120px;
#app .row {
    min-height: 2*$padding + $score_dim;
    position: relative;
    background: rgba(255, 255, 255, 0.3);
}
.ploeg {
    padding: $padding;
}
#app .row div:last-child .ploeg {
    text-align: right;
    border-radius: 15px 0 0 15px;
}

.scores {
    // Positioning
    position: absolute;
    top: $padding;
    left: 50%;
    z-index: 2;

    // Size
    width: $score_dim;
    height: $score_dim;
    margin-left: -$score_dim / 2;

    // Text
    line-height: $score_dim;
    font-size: 185%;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-shadow: 1px 1px 3px rgba(100, 0, 0, 1);

    // Looks
    box-shadow:
        0 0 5px rgba(0, 0, 0, 0.5),
        inset -2px -2px 10px -1px rgb(160, 0, 0);
    border: thin solid rgb(200, 0, 0);
    background-color: red;
    border-radius: 100%;
}

.modal-body .row {
    div {
        padding: 5px;
    }
    button {
        width: 100%;
    }
}
